.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: calc(var(--margin) * 2);
}

.imgBlock {
  width: 100%;
  margin-bottom: var(--margin);
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
  }
}

.rightCol {
  display: grid;
  gap: calc(var(--margin) * 2);
  align-content: start;
}

.subtitle {
  text-align: center;
}
.session {
  display: grid;
  gap: var(--margin);
}
.sessionTimesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
  gap: calc(var(--margin) / 2);
}
